/* CSS 조건 2 만족 */ /* CSS 조건 5 만족 */

* {
    box-sizing: border-box;
}

@font-face { /* CSS 조건 4 만족 */
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { /* CSS 조건 3 만족 */
    font-family: "Cafe24Ssurround";
    background-image: url(/Choi_JinWon/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #4e3e35;
    line-height: 1.5;
}

header {
    background-color: #f2e5d7; 
    color: #3e2f25;
    padding: 25px 0;
    text-align: center;
}

header h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

nav {
    background-color: #f9efe3;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #8d613f;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

nav a:hover {
    color: #5a3b28;
    text-decoration: underline;
}

main {
    padding: 30px;
    margin-left: 30%;
}

section h3 {
    font-size: 28px;
    margin: 15px 0;
}

section li {
    font-size: 20px;
}

.liking p{
    font-size: 20px;
    margin: 10px;
}

.piplup {
    width: 100%;
    max-width: 250px;
    margin-right: 16px;
    border-radius: 15px;
}

.ryokushaka {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    margin-top: 15px;
}

.sushi {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 15px;
}

.meeting {
    height: 100%;
    max-height: 250px;
    border-radius: 15px;
    margin-right: 16px;
    margin-top: 15px;
}

