/*css 조건 2번 만족*/
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}/*css 조건 4번 만족*/

h1 {
    text-align: center;
}

body {
    font-family: 'Paperlogy-8ExtraBold';
    background-color: #d3d3d3;/*css 조건 3번 만족*/
   
}

img {
    width: 350px;
    height: 350px;
}

container-div {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

h4 {
    text-align: center;
}

nav {
    text-align: center;
}