@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 5px solid whitesmoke;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c8caa4; opacity: 0.8;
}

header h1 {
    font-size: 3rem;;
    font-family: 'SBAggroB';
    font-weight: 100;
}

container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.links{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-decoration: none;
    background-color: rgb(89, 89, 89); opacity: 0.8;
    font-size: 5rem
}

.links:hover{
    background-color: #f0f0f0;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    min-height: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top: 5px solid black;
    background-color: #c4c4c4; opacity: 0.9;
}

footer a {
    color: black;
    text-decoration: none;
    margin : 0 10px;
}

footer a:visited {
    color: black;
}

section {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 2rem;
}

section img {
    width: 100%;
    height: 500px;
}