@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
h1{
    text-align: center;
}
nav{
    background-color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}
a{
    margin: 50px;
    font-size: 20px;
}
body{
    background-size: cover;
    background-image: url(https://i.pinimg.com/736x/25/a8/d2/25a8d281f903d34084abedd24da870e0.jpg);
}
#hjb{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
img{
    margin: auto;
    border-radius: 50%;
}
hr{
    border:0px;
    border-top: 5px dotted #D358F7;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    table-layout: fixed;
    background-color: white;
}
td{
    width: 100px;
    height: 30px;
}
h1, nav, footer{
    font-family: 'Ownglyph_ParkDaHyun';
}
main, table, .visitor button, .visitor textarea{
    font-family: 'Ownglyph_corncorn-Rg';
}
fieldset{
    margin-bottom: 20px;
}
.visitor{
    display: flex;
    flex-direction: column;
}
.visitor textarea{
    margin-top: 5px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}
.visitor button{
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 20px;
    background-color: ivory;
}
.visitor button:hover{
    background-color: aquamarine;
}