/* css 조건 4번 만족 */
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
nav{
    background-color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}
a{
    margin: 50px;
    font-size: 30px;
}
body{
    background-size: cover;
    background-image: url(https://i.pinimg.com/736x/25/a8/d2/25a8d281f903d34084abedd24da870e0.jpg);
}
header{
    text-align: center;
    color: black;
    font-size: 40px;
}
header, nav, footer{
    font-family: 'Ownglyph_ParkDaHyun';
}