@font-face {/*css 조건 4번 만족 */
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
header{
    margin: 0;
    padding: 0;
    background-color:rgb(10, 174, 239);; 
}
body{
    background-color: skyblue; /*css 조건 3번 만족 */
    margin: 0;
    padding: 0;
    font-family: 'Ownglyph_corncorn-Rg';/*css 조건 4번 만족 */
    font-weight: normal;
    font-style: normal;

}
.color{
    background-color: antiquewhite;
}
textarea{
    margin: 0;
    padding: 0;

}

footer{
    background-color: aqua;
}
